
/*********************************************************************************
 * Global
*********************************************************************************/
cloudflare-app[app="important-message"] {
    font-size: 16px;
}

cloudflare-app[app="important-message"] message {
    display: block;
    background-color: #ffa500;
    color: #fff;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    padding: 1em;
}

cloudflare-app[app="important-message"] message message-inner {
    display: block;
    padding: 4em;
}


/*********************************************************************************
 * Banner
*********************************************************************************/
cloudflare-app[app="important-message"].banner.dismissible {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 0 1em .2em #444;
    transition: top .5s;
    cursor: pointer;
}

cloudflare-app[app="important-message"].banner message {
    text-align: left;
}

cloudflare-app[app="important-message"].banner.dismissible message closer {
    float: right;
    font-family: arial;
}

cloudflare-app[app="important-message"].banner.dismissible message close:hover {
    font-weight: bold;
}

/*********************************************************************************
 * Modal
*********************************************************************************/
cloudflare-app[app="important-message"].modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .6);
}

cloudflare-app[app="important-message"].modal message {
    text-align: left;
    margin: auto auto;
    border: solid #000 2px;
    max-width: 60%;
}

cloudflare-app[app="important-message"].modal.dismissible closer {
    float: right;
    padding: .75em 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: .25em;
}


/*********************************************************************************
 * Rich-text Message Tweaks
*********************************************************************************/
cloudflare-app[app="important-message"] p {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

cloudflare-app[app="important-message"] a {
    text-decoration: underline;
    color: inherit;
    font-size: inherit;
}
